<footer class="page-footer font-small ">
  <div class="container text-center text-md-left">
    <div class="row">
        <div>
            <p class="font-weight-bold mt-3 mb-4">Si vous souhaitez faire un article sur Moisson-Live.com et mettre en lumière cette période importante pour nos 
                agriculteurs, merci de nous contacter au 02.42.14.00.01 ou e.dossantos@biagri.com</p>
        </div>
      <hr class="clearfix w-100 d-md-none">
    </div>
    <div class="col-md-12 text-center">
        <a href="https://ComparateurAgricole.com/" class="font-weight-bold mt-3 mb-4">© 2019 par ComparateurAgricole.com</a>
      </div>
  </div>
</footer>
