<section>
  <h2>Ajouter des résultats</h2>
<form style="background-color:#FFFFFF;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px"
     method="post" #obsForm="ngForm"(ngSubmit)="onSubmit(obsForm.value)">
	<div class="element-input">
    <label class="title">Specific weight<span class="required">*</span></label>
    <input class="large" type="number" name="specificWeight" required="required" [(ngModel)]="specificWeight"/>
  </div>
	<div class="element-input">
    <label class="title">Email :<span class="required">*</span></label>
    <input class="large" type="text" name="email" required="required" [(ngModel)]="email"/>
  </div>
	<div class="element-input">
    <label class="title">Téléphone :<span class="required">*</span></label>
    <input class="large" type="text" name="phone" required="required" [(ngModel)]="phone"/>
  </div>
	<div class="element-input">
    <label class="title">Variété :<span class="required">*</span></label>
    <input class="large" type="text" name="variety" required="required" [(ngModel)]="variety"/>
  </div>
	<div class="element-input">
    <label class="title">Rendement en Quintaux :<span class="required">*</span></label>
    <input class="large" type="number" name="yield" required="required" [(ngModel)]="yield"/>
  </div>
	<div class="element-input">
    <label class="title">Humidité :<span class="required">*</span></label>
    <input class="large" type="number" name="humidity" required="required" [(ngModel)]="humidity"/>
  </div>
	<div class="element-input">
    <label class="title">Résultats par rapport à la moyenne des 5 dernières années :<span class="required">*</span></label>
    <input class="large" type="number" name="yieldNotation" required="required" [(ngModel)]="yieldNotation"/>
  </div>
	<div class="element-input">
    <label class="title">Quantité d'azote apportée ?(en unités)<span class="required">*</span></label>
    <input class="large" type="number" name="nitrogenQtUsed" required="required" [(ngModel)]="nitrogenQtUsed"/>
  </div>
	<div class="element-input">
    <label class="title">Sous quelle form ?<span class="required">*</span></label>
    <input class="large" type="text" name="nitrogenPrdUsed" required="required" [(ngModel)]="nitrogenPrdUsed"/>
  </div>
	<div class="element-input">
    <label class="title">Un commentaire, infos supplémentaires ?<span class="required">*</span></label>
    <input class="large" type="text" name="comment" required="required" [(ngModel)]="comment"/>
  </div>
	<div class="element-input">
    <label class="title">Technique culturale :<span class="required">*</span></label>
    <input class="large" type="text" name="cultivMethod" required="required" [(ngModel)]="cultivMethod"/>
  </div>
	<div class="element-input">
    <label class="title">Prix objectif de vente :<span class="required">*</span></label>
    <input class="large" type="number" name="targetPrice" required="required" [(ngModel)]="targetPrice"/>
  </div>
	<div class="element-input">
    <label class="title">Commune :<span class="required">*</span></label>
    <input class="large" type="text" name="place" required="required" [(ngModel)]="place"/>
  </div>
  <div class="element-input">
    <label class="title">Latitude<span class="required">*</span></label>
    <input class="large" type="number" name="latitude" required="required" [(ngModel)]="latitude"/>
  </div>
	<div class="element-input">
    <label class="title">Longitude<span class="required">*</span></label>
    <input class="large" type="number" name="longitude" required="required" [(ngModel)]="longitude"/>
  </div>
  <div class="submit"><input type="submit" value="Envoyer"/></div>
</form>
</section>


