<div id="form">
  <div class="form-check m-4">
    <label class="form-check-label">
      <input type="checkbox" [checked]="showBarley" (click)="toggleBarley()" class="form-check-input" value="barley">Barley
    </label>
  </div>
  <div class="form-check m-4">
    <label class="form-check-label">
      <input type="checkbox" [checked]="showCorn" (click)="toggleCorn()" class="form-check-input" value="corn">Corn
    </label>
  </div>
  <div class="form-check m-4">
    <label class="form-check-label">
      <input type="checkbox" [checked]="showRapeseed" (click)="toggleRapeseed()" class="form-check-input" value="rapeseed">Rapeseed
    </label>
  </div>
  <div class="form-check m-4">
    <label class="form-check-label">
      <input type="checkbox" [checked]="showSunflower" (click)="toggleSunflower()" class="form-check-input" value="sunflower">Sunflower
    </label>
  </div>
  <div class="form-check m-4">
    <label class="form-check-label">
      <input type="checkbox" [checked]="showWheat" (click)="toggleWheat()" class="form-check-input" value="">Wheat
    </label>
  </div>
</div>