#harvestMap {
    width: 60rem;
    height: 45rem;
    border:3px outset black;
    box-shadow: 10px 10px 5px gray;
    border-radius: 10px;
}

#panel-info{
    width: 30rem;
    height: auto;
    border:3px outset black;
    box-shadow: 10px 10px 5px gray;
    border-radius: 10px;
}
 